version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: bm_postgres
    command: 
      - "postgres"
      - "-c"
      - "wal_level=replica"
      - "-c"
      - "archive_mode=on"
      - "-c"
      - "archive_command=test ! -f /var/lib/postgresql/backups/wal_archive/%f && cp %p /var/lib/postgresql/backups/wal_archive/%f"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - ./data:/var/lib/postgresql/data
      - ./tablespaces:/var/lib/postgresql/tablespaces
      - ./backups:/var/lib/postgresql/backups
      - ./scripts:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "system"]
      interval: 5s
      retries: 5
    restart: always
    networks:
      - default

  airflow:
    image: ${AIRFLOW_IMAGE}
    container_name: airflow-webserver
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${AIRFLOW_DB}
      AIRFLOW__CORE__FERNET_KEY: 'X9h6B40FOZG1Z7zVNV7EkBT0Hg31WvyilLpzzhN7-2Q='
      AIRFLOW__CORE__LOAD_EXAMPLES: 'False'
      AIRFLOW__WEBSERVER__SECRET_KEY: 'my_super_secret_key_2025_ABD_project_123456'
      AIRFLOW__WEBSERVER__RELOAD_ON_PLUGIN_CHANGE: 'True'
    volumes:
      - ./dags:/opt/airflow/dags
      - ./backups:/opt/airflow/backups
    ports:
      - "8080:8080"
    command: >
      bash -c "
      airflow db init &&
      airflow users create --username admin --password admin --firstname Admin --lastname User --role Admin --email admin@proyectoabd &&
      airflow webserver
      "
    restart: always
    networks:
      - default

  airflow-scheduler:
    image: ${AIRFLOW_IMAGE}
    container_name: airflow-scheduler
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${AIRFLOW_DB}
      AIRFLOW__CORE__FERNET_KEY: 'X9h6B40FOZG1Z7zVNV7EkBT0Hg31WvyilLpzzhN7-2Q='
      AIRFLOW__CORE__LOAD_EXAMPLES: 'False'
      AIRFLOW__WEBSERVER__SECRET_KEY: 'my_super_secret_key_2025_ABD_project_123456'
      AIRFLOW__WEBSERVER__RELOAD_ON_PLUGIN_CHANGE: 'True'
    volumes:
      - ./dags:/opt/airflow/dags
      - ./backups:/opt/airflow/backups
    command: airflow scheduler
    restart: always
    networks:
      - default

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3001:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_INSTALL_PLUGINS=
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - postgres
    restart: always
    networks:
      - default

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    restart: always
    networks:
      - default

  postgres_exporter:
    image: prometheuscommunity/postgres-exporter:latest
    container_name: postgres_exporter
    environment:
      DATA_SOURCE_NAME: "postgresql://system:${POSTGRES_PASSWORD}@postgres:5432/business_metrics_new?sslmode=disable"
      PG_EXPORTER_EXTEND_QUERY_PATH: "/etc/postgres_exporter/queries.yaml"
    volumes:
      - ./monitoring/queries.yaml:/etc/postgres_exporter/queries.yaml:ro
    ports:
      - "9187:9187"
    depends_on:
      postgres:
        condition: service_healthy
    restart: always
    networks:
      - default

  node_exporter:
    image: prom/node-exporter:latest
    container_name: node_exporter
    ports:
      - "9100:9100"
    restart: always
    networks:
      - default

networks:
  default:
    driver: bridge

volumes:
  grafana_data:
  prometheus_data:
